<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>CyberScout</title>
        <meta name="description" content="Blueprint: Responsive Full Width Tabs" />
        <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <header class="clearfix">
                <span class="heading">CyberScout</span>
            </header>
            <div id="tabs" class="tabs">
                <nav>
                    <ul>
                        <li><a href="#autonomous"><span><i class="fa fa-paper-plane-o"></i> Autonomous</span></a></li>
                        <li><a href="#teleop"><span><i class="fa fa-bolt"></i> Teleop</span></a></li>
                        <li><a href="#review"><span><i class="fa fa-database"></i> Review</span></a></li>
                    </ul>
                </nav>
                <div class="content">
                    <section id="autonomous">
                        <div class="row">
                            <div class="col-md-6">
                                
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </section>
                    <section id="teleop">
                        
                    </section>
                    <section id="review">
                        
                    </section>
                </div><!-- /content -->
            </div><!-- /tabs -->
        </div>
        <script src="js/cbpFWTabs.js"></script>
        <script>
            new CBPFWTabs( document.getElementById( 'tabs' ) );
        </script>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.min.js"></script>
    </body>
</html>
